/* Styling for the stopwatch module */
.stopwatch {
    font-family: var(--ui-font);
}

/* Styling for the stopwatch container */
#stopwatch {
    background-color: #ffffff;
    display: flex;
    cursor: pointer;
    text-align: center;
    color: #000000;
    min-width: 300px;
}

/* Styling for the stopwatch child element */
#stopwatch-child {
    font-size: var(--timer-size);
    min-width: 100px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Styling for the active stopwatch */
#stopwatch.active {
    background-color: #00FF00;
}

/* Styling for the dormant stopwatch */
#stopwatch.dormant {
    background-color: #ffffff00;
}
